@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--bg-color: #1d1d1d;
	--bg-nav-color: #181818;
	--bg-input-color: #2b2b2b;

	--nav-text-color: #909096;
	--tags-text-color: #515152;

	--cyan-olor: #08fdd8;
	--logo-olor: #fd2155;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
}

::selection {
	all: unset;
}
a,
a:hover {
	all: unset;
}

/* Start Side NavBar */
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	min-width: 60px;
	min-height: 100%;
	background-color: var(--bg-nav-color);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
}

.letterOne {
	color: var(--cyan-olor);
	position: absolute;
	left: 15px;
	transform: rotate(340deg);
}

.letterTwo {
	color: var(--logo-olor);
	position: absolute;
	left: 20px;
	transform: rotate(340deg);
}

.icons {
	position: relative;
	top: 40vh;
}

.icons span {
	display: block;
	margin-top: 20px;
}

.material-icons {
	color: var(--nav-text-color);
	opacity: .5;
	font-size: 1.8rem;
	cursor: pointer;
	transition: .7s;
}

.material-icons:hover {
	color: var(--cyan-olor);
	opacity: 1;
}

.active {
	color: var(--cyan-olor);
	opacity: 1;
}
/* End Side NavBar */

/* Start Main Section */
canvas {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

main {
	height: 100vh;
}

section {
	height: 100vh;
	border: 1px solid transparent;
}

.personal_info {
	margin-top: 190px;
	margin-left: 15px;
	color: #fff;
}

.personal_info h2 {
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;

	animation: fadeInLeft linear 3s;
}

.personal_info .letter_one {
	color: var(--cyan-olor);
}

.personal_info .letter_two {
	color: var(--logo-olor);
	position: relative;
	left: -28px;
}
.personal_info .others {
	position: relative;
	left: -28px;
}

.Btn {
	outline: none;
	background-color: transparent;
	border: 1px solid var(--cyan-olor);
	border-radius: 4px;
	color: var(--cyan-olor);

	padding: 5px 15px;
	margin-top: 35px;

	box-shadow: 5px 5px 10px #000;
	animation: fadeInBottom linear 3s;

	position: relative;
	z-index: 1;
}
.Btn a {
	color: var(--cyan-olor);
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
}
#alpha1 {
	font-size: 750px;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;

	color: var(--cyan-olor);

	transform: rotate(336deg);

	position: absolute;
	right: 170px;
	top: -200px;

	animation: fade linear 1s;
}
#alpha2 {
	font-size: 750px;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;

	color: var(--logo-olor);

	transform: rotate(336deg);

	position: absolute;
	right: 115px;
	top: -225px;

	animation: fade linear 3s;
}
.social_icons {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.social_icons span {
	margin-right: 20px;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1;
}

.social_icons .fab {
	color: var(--tags-text-color);
	transition: .4s;
}

.social_icons .fab:hover {
	color: cyan;
}

.tag {
	font-family: 'La Belle Aurore', cursive;
	font-size: 1.2rem;
	color: var(--tags-text-color);
	position: absolute;
}
.htmlTag {
	top: 25px;
	left: 80px;
}

.bodyTag {
	top: 50px;
	left: 100px;
}

.h1Tag {
	top: 150px;
}

.h1CloseTag {
	top: 350px;
}

.bodyCloseTag {
	top: 80vh;
	left: 100px;
}

.htmlCloseTag {
	top: 85vh;
	left: 80px;
}

@media screen and (max-width: 1200px) {
	#alpha1,
	#alpha2 {
		font-size: 590px;
	}
}

@media screen and (max-width: 1000px) {
	.alpha {
		display: none;
	}
	.personal_info h2 {
		font-size: 2.5rem;
	}
}
@media screen and (max-width: 650px) {
	nav {
		display: none;
	}
	.personal_info {
		margin-inline: 0;
	}
	.personal_info h2 {
		font-size: 2.1rem;
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translatey(50px);
	}
	100% {
		opacity: 1;
		transform: translatey(0);
	}
}
/* End Main Section */
/* Start contact me */
.contact {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
}
.contact__info {
	width: 50%;
	margin-left: 100px;
	font-size: 1.2rem;
	overflow: hidden;
}
.contact__info h2 {
	font-size: 3.5rem;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 5px;
	text-transform: capitalize;

	color: var(--cyan-olor);
	margin-bottom: 30px;
}
.contact__info input {
	width: 80%;
	border: none;
	outline: none;
	background-color: var(--bg-input-color);
	color: var(--nav-text-color);
	padding: 10px;
	height: 45px;
}
.label_name,
.label_msg {
	border-bottom: 2px solid var(--cyan-olor);
	width: 80%;
	margin-bottom: 25px;
	opacity: 0;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}

.contact__info input:focus + .label_name {
	opacity: 1;
	transform: translateX(0%);
}

.contact__info textarea {
	width: 80%;
	height: 200px;
	background-color: var(--bg-input-color);
	color: var(--nav-text-color);
	border: none;
	resize: none;
	outline: none;
	padding: 15px;
}

.contact__info textarea:focus + .label_msg {
	opacity: 1;
	transform: translateX(0%);
}

.Btn--msg {
	margin-top: 0px;
	margin-left: 45%;
	margin-bottom: 30px;
	letter-spacing: 2px;
}

.contact__map {
	width: 50%;
}
.contact__map iframe {
	display: block;
	width: 100%;
	height: 100vh;
}

/* Responsive */
@media screen and (max-width: 1000px) {
	.contact {
		flex-direction: column;
		margin: 50px;
	}
	.contact__info {
		width: 100%;
	}
	.contact__map {
		width: 100%;
		margin-bottom: 30px;
		margin-left: -10px;
	}
	.contact__map iframe {
		display: block;
		margin: 0 auto;
		width: 80vw;
		height: 50vh;
	}
}
@media screen and (max-width: 650px) {
	.contact {
		margin: 0;
	}
	.contact__info .sm_input {
		width: 80%;
	}
}
/* End contact me */
