@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

* {
	margin: 0;
	padding: 0;
}
html {
	scroll-behavior: smooth;
}

body {
	background-color: #222;
}

::selection {
	all: unset;
}

/* Start Header Section */
header {
	max-width: 100vw;
	max-height: 100vh;
}

.personal_info {
	margin-top: 190px;
	margin-left: 5px;
	color: #fff;
}
.personal_info h2 {
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;

	animation: fadeInLeft linear 3s;
}
.personal_info .letter_one {
	color: cyan;
}
.personal_info .letter_two {
	color: rgb(241, 75, 103);
	position: relative;
	left: -28px;
}
.personal_info .others {
	position: relative;
	left: -28px;
}

.contactBtn {
	outline: none;
	background-color: transparent;
	border: 1px solid cyan;
	border-radius: 4px;
	color: cyan;

	padding: 5px 15px;
	margin-top: 35px;

	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;

	box-shadow: 5px 5px 10px #000;
	animation: fadeInBottom linear 3s;
}

#alpha1 {
	font-size: 750px;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;

	color: cyan;

	transform: rotate(336deg);

	position: absolute;
	right: 205px;
	top: -200px;

	animation: fade linear 1s;
}

#alpha2 {
	font-size: 750px;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;

	color: rgb(241, 75, 103);

	transform: rotate(336deg);

	position: absolute;
	right: 150px;
	top: -225px;

	animation: fade linear 3s;
}

.tag {
	color: gray;
	opacity: .3;
	font-family: 'Caveat', cursive;
	font-size: 1.5rem;
	position: absolute;
}
.bodyTag {
	top: 50px;
	left: 100px;
}
.h1Tag {
	top: 140px;
}
.h1CloseTag {
	top: 350px;
}
.bodyCloseTag {
	top: 80vh;
	left: 100px;
}

@media screen and (max-width: 1200px) {
	#alpha1,
	#alpha2 {
		font-size: 590px;
	}
}

@media screen and (max-width: 1000px) {
	.alpha {
		display: none;
	}
	.personal_info h2 {
		font-size: 2.5rem;
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translatey(50px);
	}
	100% {
		opacity: 1;
		transform: translatey(0);
	}
}
/* End Header Section */
