@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap');

* {
	box-sizing: border-box;
}

:root {
	--bg-color: #1d1d1d;
	--bg-nav-color: #181818;
	--bg-input-color: #2b2b2b;

	--nav-text-color: #909096;
	--tags-text-color: #515152;

	--cyan-color: #08fdd8;
	--logo-color: #fd2155;
}

html {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
	font-family: 'Roboto', sans-serif;
	overflow-x: hidden;
}

::selection {
	all: unset;
}

a,
a:hover {
	all: unset;
}

/* _________________________Start Sound__________________________*/
#sound {
	position: fixed;
	top: 20px;
	border-radius: 3px;
	padding: 5px;
	right: 20px;
	z-index: 999999;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	color: #fff;
	font-size: 1rem;
	pointer-events: none;
	background: rgba(0, 0, 0, .3);
}

#sound svg {
	height: 20px;
	margin-right: 5px;
}

#sound span {
	color: #fd1056;
	-webkit-transition: none;
	-o-transition: none;
	transition: none;
	margin-left: 5px;
	pointer-events: auto;
	cursor: pointer;
	font-size: .9rem;
}
/* _________________________End Sound_____________________________ */

/* _________________________Start Side NavBar_____________________ */
nav {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;

	min-width: 60px;
	min-height: 100%;
	background-color: var(--bg-nav-color);

	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
	cursor: pointer;
}

.letterOne {
	color: var(--cyan-color);
	position: absolute;
	left: 15px;
	transform: rotate(340deg);
}

.letterTwo {
	color: var(--logo-color);
	position: absolute;
	left: 20px;
	transform: rotate(340deg);
}

.icons {
	position: relative;
	top: 40vh;
}

.icons span {
	display: block;
	margin-top: 20px;
}

.material-icons {
	color: var(--nav-text-color);
	opacity: .5;
	font-size: 1.8rem;
	cursor: pointer;
	transition: .7s;
}

.material-icons:hover {
	color: var(--cyan-color);
	opacity: 1;
}

.active {
	color: var(--cyan-color);
	opacity: 1;
}
/* ____________________End Side NavBar______________________ */

/* _________________Start Main Section______________________ */
canvas {
	display: block;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

#home {
	height: 100vh;
	border: 1px solid transparent;
}

.personal_info {
	margin-top: 190px;
	margin-left: 15px;
	color: #fff;
}

.personal_info h2 {
	font-size: 3rem;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 2px;

	animation: fadeInLeft linear 3s;
}

.personal_info .letter_one {
	color: var(--cyan-color);
}

.personal_info .letter_two {
	color: var(--logo-color);
	position: relative;
	left: -28px;
}
.personal_info .others {
	position: relative;
	left: -28px;
}

.Btn {
	outline: none;
	background-color: transparent;
	border: 1px solid var(--cyan-color);
	border-radius: 4px;
	color: var(--cyan-color);

	padding: 5px 15px;
	margin-top: 35px;

	box-shadow: 5px 5px 10px #000;
	animation: fadeInBottom linear 3s;

	position: relative;
	z-index: 1;
}
.Btn a {
	color: var(--cyan-color);
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-decoration: none;
}
#alpha1 {
	font-size: 750px;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;

	color: var(--cyan-color);

	transform: rotate(336deg);

	position: absolute;
	right: 170px;
	top: -200px;

	animation: fade linear 1s;
}
#alpha2 {
	font-size: 750px;
	font-weight: bolder;
	font-family: 'Roboto', sans-serif;

	color: var(--logo-color);

	transform: rotate(336deg);

	position: absolute;
	right: 115px;
	top: -225px;

	animation: fade linear 3s;
}
.social_icons {
	margin-top: 30px;
	display: flex;
	justify-content: center;
}

.social_icons span {
	margin-right: 20px;
	font-size: 3rem;
	cursor: pointer;
	z-index: 1;
}

.social_icons .fab {
	color: var(--tags-text-color);
	transition: .4s;
}

.social_icons .fab:hover {
	color: cyan;
}

.tag {
	font-family: 'La Belle Aurore', cursive;
	font-size: 1.2rem;
	color: var(--tags-text-color);
	position: absolute;
}
.htmlTag {
	top: 25px;
	left: 80px;
}

.bodyTag {
	top: 50px;
	left: 100px;
}

.h1Tag {
	top: 150px;
}

.h1CloseTag {
	top: 350px;
}

.bodyCloseTag {
	top: 80vh;
	left: 100px;
}

.htmlCloseTag {
	top: 85vh;
	left: 80px;
}

@media screen and (max-width: 1200px) {
	#alpha1,
	#alpha2 {
		font-size: 590px;
	}
}

@media screen and (max-width: 1000px) {
	.alpha {
		display: none;
	}
	.personal_info h2 {
		font-size: 2.5rem;
	}
}
@media screen and (max-width: 650px) {
	nav {
		display: none;
	}
	.personal_info {
		margin-inline: 0;
	}
	.personal_info h2 {
		font-size: 2.1rem;
	}
}
@keyframes fade {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-50px);
	}
	100% {
		opacity: 1;
		transform: translateX(0);
	}
}
@keyframes fadeInBottom {
	0% {
		opacity: 0;
		transform: translatey(50px);
	}
	100% {
		opacity: 1;
		transform: translatey(0);
	}
}
/* ____________________End Home Section ______________________*/

/* ___________________Start About Section____________________ */
#about {
	margin-top: 10px;
	height: 100vh;
	display: flex;
	align-items: center;
}

.about {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.about__info {
	width: 50%;
	opacity: 0;
	transform: scale(0.1);
	transition: all 1s ease-in-out;
}
.about_scroll {
	opacity: 1;
	transform: scale(1);
}

.about__info h2 {
	font-size: 3.5rem;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 5px;
	text-transform: capitalize;

	color: cyan;
	margin-bottom: 30px;
	font-style: italic;
}

.about__info h2::before {
	content: '<h2>';
	font-family: 'La Belle Aurore', cursive;
	color: var(--tags-text-color);
	font-size: 1.2rem;
	position: absolute;
	margin-top: -28px;
	margin-left: -24px;
	text-transform: lowercase;
}

.about__info h2::after {
	content: '</h2>';
	font-family: 'La Belle Aurore', cursive;
	color: var(--tags-text-color);
	font-size: 1.2rem;
	position: absolute;
	margin-top: 28px;
	margin-left: 24px;
	text-transform: lowercase;
}

.about__info p {
	color: #fff;
	font-size: 1.2rem;
	letter-spacing: 1.5px;
	padding-top: 30px;
	line-height: 1.8;
}

.about__info p::before {
	content: '<p>';
	font-family: 'La Belle Aurore', cursive;
	color: var(--tags-text-color);
	font-size: 1.2rem;
	position: absolute;
	margin-top: -28px;
	margin-left: -24px;
}

.about__info p::after {
	content: '</p>';
	font-family: 'La Belle Aurore', cursive;
	color: var(--tags-text-color);
	font-size: 1.2rem;
	position: absolute;
	margin-top: 28px;
	margin-left: 24px;
}

.about__skills {
	width: 50%;
}

#tag {
	background-color: transparent;
}

@media screen and (max-width: 1000px) {
	#about {
		margin-top: 100px;
		margin-bottom: 100px;
	}
	.about {
		flex-direction: column;
	}

	.about__info {
		width: 85%;
	}

	.about__skills {
		width: 100%;
	}
}

/* ____________________End About Section _________________________*/

/* _______________________Start work section_____________________ */
#work {
	margin-bottom: 150px;
}
#work h2 {
	font-size: 3.5rem;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 5px;
	text-transform: capitalize;

	color: var(--cyan-color);
	margin-bottom: 30px;
	font-style: italic;
}

#work .work-text {
	color: #fff;
	font-size: 1.2rem;
	letter-spacing: 1.5px;
}

#work .work-text::before {
	content: '<p>';
	font-family: 'La Belle Aurore', cursive;
	color: var(--tags-text-color);
	font-size: 1.2rem;
	position: absolute;
	margin-top: -28px;
	margin-left: -24px;
}
#work .work-text::after {
	content: '</p>';
	font-family: 'La Belle Aurore', cursive;
	color: var(--tags-text-color);
	font-size: 1.2rem;
	position: absolute;
	margin-top: 28px;
	margin-left: 24px;
}
#work .work-text a {
	cursor: pointer;
	color: var(--cyan-color);
	text-decoration: underline;
}
.cards {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.card {
	border: none;
	cursor: pointer;
	background-color: transparent;
}

.card .face {
	width: 300px;
	height: 200px;
	transition: 0.5s;
}

.card .face.face1 {
	position: relative;
	background: var(--bg-input-color);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1;
	transform: translateY(100px);
}

.card:hover .face.face1 {
	background: var(--logo-color);
	transform: translateY(0);
}

.card .face.face1 .content {
	opacity: 0.2;
	transition: 0.5s;
}

.card:hover .face.face1 .content {
	opacity: 1;
}

.card .face.face1 .content img {
	max-width: 100%;
}

.card .face.face1 .content h3 {
	margin: 10px 0 0;
	padding: 0;
	color: #fff;
	text-align: center;
	font-size: 1.5em;
}

.card .face.face2 {
	position: relative;
	background: #fff;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	box-sizing: border-box;
	box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
	transform: translateY(-100px);
}

.card:hover .face.face2 {
	transform: translateY(0);
}

.card .face.face2 .content p {
	margin: 0;
	padding: 0;
	color: var(--bg-input-color);
}

.card .face.face2 .content .btnCard {
	margin: 15px 10px 0 0;
	display: inline-block;
	text-decoration: none;
	font-weight: 900;
	letter-spacing: 1px;
	color: var(--bg-input-color);
	background-color: var(--logo-color);
	padding: 5px 15px;
	border-radius: 7px;
	transition: .4s;
}

.card .face.face2 .content a:hover {
	background: var(--bg-input-color);
	color: var(--logo-color);
}

@media screen and (max-width: 768px) {
	#work .work-text {
		padding: 0 25px;
	}
	.cards {
		justify-content: center;
	}
}
/* _________________End work section____________________ */

/* ________________Start contact me_____________________ */
.contact {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 150px;
}
.contact__info {
	width: 50%;
	margin-left: 100px;
	font-size: 1.2rem;
	overflow: hidden;
}
.contact__info h2 {
	font-size: 3.5rem;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 5px;
	text-transform: capitalize;

	color: var(--cyan-color);
	margin-bottom: 30px;
}

.contact__info h2::before {
	content: '<h2>';
	font-family: 'La Belle Aurore', cursive;
	color: var(--tags-text-color);
	font-size: 1.2rem;
	position: absolute;
	margin-top: -20px;
	margin-left: -24px;
	text-transform: lowercase;
}

.contact__info h2::after {
	content: '</h2>';
	font-family: 'La Belle Aurore', cursive;
	color: var(--tags-text-color);
	font-size: 1.2rem;
	position: absolute;
	margin-top: 28px;
	margin-left: 24px;
	text-transform: lowercase;
}

#my-form::before {
	content: '<form>';
	font-family: 'La Belle Aurore', cursive;
	color: var(--tags-text-color);
	font-size: 1.3rem;
	position: absolute;
	margin-top: -28px;
	margin-left: -24px;
	text-transform: lowercase;
}
#my-form::after {
	content: '</form>';
	font-family: 'La Belle Aurore', cursive;
	color: var(--tags-text-color);
	font-size: 1.3rem;
	display: block;
	position: absolute;
	margin-top: -100px;
	margin-left: -18px;
	text-transform: lowercase;
}
.contact__info input {
	width: 80%;
	border: none;
	outline: none;
	background-color: var(--bg-input-color);
	color: var(--nav-text-color);
	padding: 10px;
	height: 45px;
}
.label_name,
.label_msg {
	border-bottom: 2px solid var(--cyan-color);
	width: 80%;
	margin-bottom: 25px;
	opacity: 0;
	transform: translateX(-100%);
	transition: transform 0.3s ease;
}

.contact__info input:focus + .label_name {
	opacity: 1;
	transform: translateX(0%);
}

.contact__info textarea {
	width: 80%;
	height: 200px;
	background-color: var(--bg-input-color);
	color: var(--nav-text-color);
	border: none;
	resize: none;
	outline: none;
	padding: 15px;
}

.contact__info textarea:focus + .label_msg {
	opacity: 1;
	transform: translateX(0%);
}

.Btn--msg {
	margin-top: 0px;
	margin-left: 45%;
	margin-bottom: 30px;
	letter-spacing: 2px;
}

.contact__map {
	width: 50%;
}
.contact__map iframe {
	display: block;
	width: 100%;
	height: 100vh;
}

#status {
	position: relative;
	top: -60px;
	width: 200px;
	height: 65px;
	border-radius: 7px;
	padding: 5px;
	text-align: center;
	font-style: italic;
}

.success {
	background-color: var(--cyan-color);
	color: #000;
	animation: status 4s ease forwards;
}
.error {
	background-color: var(--logo-color);
	color: #fff;
	animation: status 4s ease forwards;
}

@keyframes status {
	0% {
		opacity: 1;
		pointer-events: all;
	}

	90% {
		opacity: 1;
		pointer-events: all;
	}

	100% {
		opacity: 0;
		pointer-events: none;
	}
}
/* Responsive */
@media screen and (max-width: 1000px) {
	.contact {
		flex-direction: column;
		margin: 50px;
	}
	.contact__info {
		width: 100%;
	}
	.contact__map {
		width: 100%;
		margin-bottom: 30px;
		margin-left: -10px;
	}
	.contact__map iframe {
		display: block;
		margin: 0 auto;
		width: 80vw;
		height: 50vh;
	}
}
@media screen and (max-width: 650px) {
	.contact {
		margin: 0;
	}
	.contact__info h2 {
		font-size: 2.5rem;
	}
	.contact__info .sm_input {
		width: 80%;
	}
}
/* __________________End contact me____________________ */
